
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><i class="fas fa-bus"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" routerLink="/lines">Company lines</a>
              <a class="nav-item nav-link" routerLink="/tickets">My tickets</a>
              <a class="nav-item nav-link" routerLink="/profile">Profile</a>
              <a class="nav-item nav-link" routerLink="/search">Explore routes</a>
              <a class="nav-item nav-link" routerLink="/login">Login</a>
              <a class="nav-item nav-link" (click)="logout()">Logout</a>
          </div>
      </div>
  </nav>