<div class="container">
    <div class="user-picture">
        <img class="user" src="../../../assets/images/user.svg">
        <div *ngIf="currentUser"><h1 style="margin-left: 70%">{{currentUser.username}}</h1></div>
    </div>

    <div class="reg">
        <form id="reg-form" [formGroup]="profileForm" class="text-center" (ngSubmit)="onSubmit(profileForm.value)">
            <mat-form-field>
                <input type="text" name="name" matInput placeholder="Change name" formControlName="username">
            </mat-form-field>
            <mat-form-field class="mr-auto pad-tb-10">
                <input type="password" name="password" placeholder="Change password" matInput
                    formControlName="newPassword">
            </mat-form-field>
            <mat-form-field class="mr-auto pad-tb-10">
                <input type="password" name="confirmPassword" placeholder="Confirm password" matInput
                    formControlName="confirmPassword">
            </mat-form-field>
            <mat-form-field class="mr-auto pad-tb-10">
                <input type="email" name="email" placeholder="Email" matInput formControlName="email">
            </mat-form-field>
            <div class="mr-auto pad-tb-10">
                <label>Linked accounts</label>
                <img src="../../../assets/images/icons8-twitter.svg">
                <img src="../../../assets/images/icons8-facebook.svg">
                <img src="../../../assets/images/icons8-linkedin.svg">
            </div>
            <div class="mr-auto pad-tb-10">
                <input type="submit" id="submit-btn" class="generic-input submit-btn" value="Save">
            </div>
        </form>
    </div>
</div>