<div class="container">
    <div class="user-picture">
        <img class="user" src="../../../assets/images/user.svg">
            <h1 style="margin-left: 70%">Stoil</h1>
    </div>
    <div class="reg">
        <form id="reg-form" [formGroup]="profileForm" class="text-center">
            <mat-form-field >
                <label>Change name</label>
                <input type="text" name="name" matInput formControlName="username">
            </mat-form-field>
            <mat-form-field class="mr-auto pad-tb-10">
                <label>Change password</label>
                <input type="password" name="password" matInput formControlName="password">
            </mat-form-field>
            <mat-form-field class="mr-auto pad-tb-10">
                <label>Confirm password</label>
                <input type="password" name="confirmPassword" matInput formControlName="confirmPassword">
            </mat-form-field>
            <mat-form-field class="mr-auto pad-tb-10">
                <label>Email</label>
                <input type="email" name="email" matInput formControlName="email">
            </mat-form-field>
            <div class="mr-auto pad-tb-10">
                <label>Linked accounts</label>
                <img src="../../../assets/images/icons8-twitter.svg">
                    <img src="../../../assets/images/icons8-facebook.svg">
                        <img src="../../../assets/images/icons8-linkedin.svg">
            </div>
            <div class="mr-auto pad-tb-10">
                <input type="button" id="submit-btn" class="generic-input submit-btn" value="Save">
            </div>
        </form>
    </div>
</div>