.icon {
    font-size:120px;
    color:#2196F3;
    /* margin-left: 18vw; */
}
.list-group-item {
    background-color:#e9ecef;
    border: none;
}
.jumbotron {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top : 10vh;
}