ul {
    list-style-type: none;
    outline: 2px solid black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: white;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

div.container {
    margin-top: 2em;

}


.img-thumbnail {
    border: none;
}

.buy-ticket-container {
    border: 1px solid grey;
}

.col-md {
    padding: 1em;
}

.date-container {
    margin: 2em 0;
}

.date-container>* {
    /* float: left; */
    display: inline-block;
    vertical-align: top;
}

.date-container p {
    font-size: 1.2em;
}

.date-container img {
    height: 5em;
}

.left {
    margin-left: 2em;
}

#button-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#button-container button {
    display: inline-block;
    margin: 1em;
}

#ticket1, #ticket2 {
    transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
    -o-transform: scale(0.8, 0.8); /* Opera */
    -moz-transform: scale(0.8, 0.8); /* Firefox */
  }
/* 
#ticket2 {
    transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
    -o-transform: scale(0.8, 0.8); /* Opera */
    -moz-transform: scale(0.8, 0.8); /* Firefox */
  } */